<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<article th:fragment="investors" class="main-art" id="main-article">
    <p>Wybierz pierwszą literę nazwy inwestora:</p>

    <div th:replace="layout/filtermenu" class="filterby-letter-box"></div>
    <p class="info-box" th:if="${investorsList.isEmpty()}" th:text="${'Brak inwestorów na literę: ' + firstLetter}"></p>
    <table>
        <tr th:each="investor, stat:${investorsList}" th:class="${stat.odd} ? 'row odd-row' : 'row even-row' ">
            <td th:text="${investor.id}"></td>
            <td th:text="${investor.name}"></td>
            <td th:text="${investor.nip}"></td>
            <td>
                <form th:action="@{/offers/setInvestorToOffer}" method="post">//TODO
                    <input type="hidden" name="investorId" th:value="${investor.id}"/>
                    <input type="submit" value="Dodaj" class="std-btn"/></form>
            </td>
        </tr>
    </table>
</article>
</body>
</html>