<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head :: head">
    <meta charset="UTF-8"/>
    <title>Dodawanie skladnika</title>

</head>
<body>
<header th:replace="layout/header :: header"></header>
<nav th:replace="layout/menu :: menu"></nav>
<article class="main-art" id="main-article">
    <div class="input-box">
        <form th:action="@{'/component/addComponentToBase'}" th:object="${component}" method="post">
            <label for="input-component-name">Nazwa:</label>
            <input class="std-input" id="input-component-name" type="text" th:field="*{name}"/>
            <label for="input-desc">Opis:</label>
            <input class="std-input" id="input-desc" type="text" th:field="*{description}"/>
            <label for="input-unit">Jednostka:</label>
            <input class="std-input" id="input-unit" type="text" th:field="*{unit}"/>
            <label for="category-selector">Kategoria:</label>
            <select id="category-selector" th:field="*{category}">
                <option th:each="category:${T(pl.cgg.offers.models.ComponentCategory).values()}"
                        th:text="${category.getDescription()}" th:value="${category}"></option>
            </select>
            <input type="submit" value="Wprowadź" class="std-btn"/>

        </form>
    </div>
</article>
</body>
</html>