<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form th:action="@{'/offers/addComponentToOffer'}" method="post" th:object="${componentAddingList}">
    <table>
        <tr th:each="component:${componentMap}">
            <td th:text="${component.key.id}"></td>
            <td th:text="${component.key.name}"></td>
            <td th:text="${component.key.description}"></td>
            <td th:text="${component.key.unit}"></td>
            <td><input type="hidden" th:field="*{componentNumber}" th:value="${component.key.id}"/></td>
            <td><input type="checkbox" th:field="*{valueBool}" th:value="${!(component.value)}"/></td>


        </tr>
    </table>
    <input type="submit" value="Dodaj"/>
</form>
</body>
</html>