<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a th:href="@{'/'}" class="std-href">Strona główna</a>
<form th:action="@{/inwestor/addInvestorToBase}" method="post" th:object="${investor}">
    <div id="basic-data" class="basic-data">
        <label for="input-name" class="basic-lbl">Nazwa inwestora:</label>
        <input class="std-input" id="input-name" type="text" th:field="*{name}"/>
        <label for="input-firstname" class="basic-lbl">Imię:</label>
        <input class="std-input" id="input-firstname" type="text" th:field="*{firstName}"/>
        <label for="input-street" class="basic-lbl">Nazwisko:</label>
        <input class="std-input" id="input-lastname" type="text" th:field="*{lastName}"/>
    </div>
    <div id="adress" class="adress">
        <label for="input-street" class="basic-lbl">Ulica:</label>
        <input class="std-input" id="input-street" type="text" th:field="*{street}"/>
        <label for="input-posesion-nr" class="basic-lbl">Numer posesji:</label>
        <input class="std-input" id="input-posesion-nr" type="number" th:field="*{posesionNumber}"/>
        <label for="input-local-nr" class="basic-lbl">Numer lokalu:</label>
        <input class="std-input" id="input-local-nr" type="text" th:field="*{localNumber}"/>
        <label for="input-city" class="basic-lbl">Miasto:</label>
        <input class="std-input" id="input-city" type="text" th:field="*{city}"/>
        <label for="input-zipcode" class="basic-lbl">kod pocztowy</label>
        <input class="std-input" id="input-zipcode" type="text" th:field="*{zipcode}"/>
    </div>
    <div id="additional-data" class="additional-data">
        <label for="input-nip" class="basic-lbl">NIP</label>
        <input class="std-input" id="input-nip" type="number" th:field="*{nip}"/>
        <label for="input-email" class="basic-lbl">E-mail</label>
        <input class="std-input" id="input-email" type="email" th:field="*{email}"/>
        <label for="input-phone-nr" class="basic-lbl">Numer telefonu</label>
        <input class="std-input" id="input-phone-nr" type="number" th:field="*{phoneNumber}"/>
        <input type="submit" value="Wprowadź"/>
    </div>
</form>
</body>
</html>