<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head :: head">
</head>
<body>
<header th:replace="layout/header :: header"></header>
<nav th:replace="layout/menu :: menu"></nav>
<article class="main-art" id="main-article">
    <h4>Dodawanie szablonu:</h4>
    <form th:action="@{'/templates/setToBase'}" method="post" th:object="${template}">
        <label for="template-name">Podaj nazwę szabonu</label>
        <input class="std-input" id="template-name" th:field="*{templateName}"/>
        <h3>Dodaj składniki do szablonu:</h3>
        <div class="">
            <table>
                <tr class="row">
                    <th>Id</th>
                    <th>Nazwa:</th>
                    <th>Dodaj:</th>
                </tr>

                <tr th:each="componentOffer, stat:${wrapper.componentOfferList}"
                    th:class="${stat.odd}? 'row odd-row' : 'row even-row'"
                    th:object="${wrapper}">
                    <td th:text="${componentOffer.id}"></td>
                    <td th:text="${componentOffer.name}"></td>

                    <td><input type="checkbox" th:name="|componentOfferList[${stat.index}].id|"
                               th:value="${stat.index + 1}"/>
                    </td>
                    <input type="hidden" th:field="*{componentOfferList[__${stat.index}__].name}"/>
                    <input type="hidden" th:field="*{componentOfferList[__${stat.index}__].description}"/>
                    <input type="hidden" th:field="*{componentOfferList[__${stat.index}__].componentPrice}"/>
                    <input type="hidden" th:field="*{componentOfferList[__${stat.index}__].unit}"/>
                    <input type="hidden" th:field="*{componentOfferList[__${stat.index}__].offer}"/>
                </tr>
            </table>
        </div>
        <input type="submit" value="Dodaj" class="std-btn"/>
    </form>
</article>
<footer th:replace="/layout/footer :: footer"></footer>
</body>
</html>