<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<header th:replace="layout/header :: header"></header>
<nav th:replace="layout/menu :: menu"></nav>
<article
        class="main-art"
        id="main-article">
    <h2 class="final-offer-header"
        th:text="${'Oferta nr: ' + offer.id +'/'+ offer.date}">
    </h2>
    <p th:text="${'Poznan '+offer.date}"></p>
    <ul class="investor-offer">
        <li th:text="${offer.investor.name}"></li>
        <li th:text="${offer.investor.nip}"></li>
        <li th:text="${offer.investor.firstName} + ${offer.investor.lastName}"></li>
        <li></li>
    </ul>
    <table>
        <tr class="row">
            <th>LP</th>
            <th>Składnik oferty</th>
            <th>Ilość</th>
            <th>Cena jednostkowa</th>
            <th>Cena</th>
            <th>Ryczałt</th>
        </tr>
        <tr th:each="prices, stat:${componentPricesList}"
            th:class="${stat.odd} ? 'row even-row' : 'row odd-row'">
            <td th:text="${stat.index} + 1"></td>
            <td th:text="${prices.componentOffer.name}"></td>
            <td th:text="${prices.quantity}"></td>
            <td th:text="${prices.componentPrice}"></td>
            <td th:text="${prices.quantity} * ${prices.componentPrice}"></td>
            <td th:text="${prices.aLumpSum}? 'tak' : 'nie'"></td>
        </tr>
    </table>
</article>
<footer th:replace="layout/footer :: footer"></footer>
</body>
</html>