<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<nav><a href="/offers/showAll">Pokaż oferty</a></nav>
<article class="offer-show">
    <div>
        <div
                class="show-bidder-box">
            <h4>Ofertę sporządził:</h4>
            <p>Centrum Geologii i Geotechniki</p>
            <p>ul. Monte Cassino 5</p>
            <p>06-400 Ciechanów</p>
            <p>NIP: 566-189-96-03</p>
        </div>
        <div
                class="logotype">
            <img
                    src="/images/CGG_logo.png"
                    class="logotype-show-offer"/>
        </div>
        <div class="date-place">
            <p>Data wystawienia:</p>
            <p th:text="${'Poznań ' + offer.date}"></p>

        </div>

    </div>

    <div class="offer-number-box">
        <h2 class="offer-show-h2"
            th:text="${'Oferta nr: ' + offer.id +'/'+ offer.date}">
        </h2>
    </div>
    <div class="show-offer-section-box">
        <div class="show-investor-box">
            <p>Oferta dla:</p>
            <h4 th:text="${offer.investor.name}"></h4>
            <p th:text="${offer.investor.firstName + ' ' + offer.investor.lastName}"></p>
            <p th:text="${offer.investor.nip}"></p>
            <p th:text="${offer.investor.city + ' ' + offer.investor.zipcode}"></p>
            <p th:text="${offer.investor.street} + ' ' + ${offer.investor.posesionNumber} + ' ' + ${offer.investor.localNumber}"></p>
        </div>
    </div>

    <div class="offer-table-box">
        <table>
            <tr class="row">
                <th>Lp</th>
                <th>Usługa</th>
                <th>Ilość</th>
                <th>Cena jednostkowa</th>
                <th>Suma</th>
                <th>Ryczałt</th>
                <th>Opcja</th>
            </tr>
            <tr th:each="prices, stat:${prices}" th:class="${stat.odd} ? 'row odd-row' : 'row even-row'">
                <td th:text="${stat.index} + 1"></td>
                <td th:text="${offer.componentOfferList[__${stat.index}__].name}"></td>
                <td th:text="${prices.quantity}"></td>
                <td th:text="${prices.componentPrice}"></td>
                <td th:text="${prices.componentPrice} * ${prices.quantity}"></td>
                <td th:text="${prices.aLumpSum == true} ? 'tak': 'nie'"></td>
                <td th:text="${prices.optional == true} ? 'tak': 'nie'"></td>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="cell-sigma">Suma netto:</th>
                <th class="cell-sum" th:text="${offer.totalPrice}"></th>
            </tr>
        </table>
    </div>
    <div class="offer-editor-box">
        <div>
            <h4>Ofertę sporządził:</h4>
            <p th:text="${offer.user.name} + ' ' + ${offer.user.lastName}"></p>
        </div>
    </div>
</article>
</body>
</html>