<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<nav th:replace="layout/menu :: menu"></nav>
<header th:replace="layout/header :: header"></header>
<article class="main-art" id="main-article">
    <div th:replace="layout/filtermenu" class="filterby-letter-box"></div>
    <p class="info-box" th:if="${investorsList.isEmpty()}" th:text="${'Brak inwestorów na literę: ' + firstLetter}"></p>
    <table>
        <tr th:each="investor, stat:${investorsList}" th:class="${stat.odd} ? 'row odd-row' : 'row even-row' ">
            <td th:text="${investor.id}"></td>
            <td th:text="${investor.name}"></td>
            <td th:text="${investor.nip}"></td>
            <td>
                <form th:action="@{'/offers/setInvestorToOffer'}" method="post">
                    <input type="hidden" name="investorId" th:value="${investor.id}"/>
                    <input type="submit" value="Dodaj" class="std-btn"/></form>
            </td>
        </tr>
    </table>
</article>
<footer th:replace="/layout/footer :: footer"></footer>
</body>
</html>