<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table>
    <tr th:each="investor:${investorsList}">
        <td th:text="${investor.id}"></td>
        <td th:text="${investor.name}"></td>
        <td th:text="${investor.nip}"></td>
        <td>
            <form th:action="@{'/offers/setInvestorToOffer'}" method="post">
                <input type="hidden" name="investor_id" th:value="${investor.id}"/>
                <input type="submit" value="Dodaj"/></form>
        </td>
    </tr>
</table>
</body>
</html>