<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<article class="main-art" id="main-article">

    <nav th:replace="layout/menu :: menu"></nav>
    <form th:action="@{/inwestor/addInvestorToBase}" method="post" th:object="${investor}">
        <div id="basic-data" class="basic-data">
            <label for="input-name" class="basic-lbl">Nazwa inwestora:</label>
            <input class="std-input" id="input-name" type="text" th:field="*{name}"/>
            <label for="input-firstname" class="basic-lbl">Imię:</label>
            <input class="std-input" id="input-firstname" type="text" th:field="*{firstName}"/>
            <label for="input-street" class="basic-lbl">Nazwisko:</label>
            <input class="std-input" id="input-lastname" type="text" th:field="*{lastName}"/>
        </div>
        <div id="adress" class="basic-data">
            <label for="input-street" class="basic-lbl">Ulica:</label>
            <input class="std-input" id="input-street" type="text" th:field="*{street}"/>
            <label for="input-posesion-nr" class="basic-lbl">Numer posesji:</label>
            <input class="std-input" id="input-posesion-nr" type="number" min="0" max="9999" maxlength="4"
                   th:field="*{posesionNumber}"/>
            <label for="input-local-nr" class="basic-lbl">Numer lokalu:</label>
            <input class="std-input" id="input-local-nr" type="number" min="0" max="9999" maxlength="4"
                   th:field="*{localNumber}"/>
            <label for="input-city" class="basic-lbl">Miasto:</label>
            <input class="std-input" id="input-city" type="text" th:field="*{city}"/>
            <label for="input-zipcode" class="basic-lbl">kod pocztowy</label>
            <input class="std-input" id="input-zipcode" type="text" pattern="[0-9]{2}-[0-9]{3}" th:field="*{zipcode}"/>
        </div>
        <div id="additional-data" class="basic-data">
            <label for="input-nip" class="basic-lbl">NIP</label>
            <input class="std-input" id="input-nip" type="number" th:field="*{nip}"/>
            <label for="input-email" class="basic-lbl">E-mail</label>
            <input class="std-input" id="input-email" type="email" th:field="*{email}"/>
            <label for="input-phone-nr" class="basic-lbl">Numer telefonu</label>
            <input class="std-input" id="input-phone-nr" type="number" th:field="*{phoneNumber}"/>
        </div>
        <div id="a" class="basic-data">
            <label for="persist-chk" class="basic-lbl">Zapisać w bazie</label>
            <input id="persist-chk" type="checkbox" name="persist" value="true"/>
            <input type="submit" value="Wprowadź" class="std-btn"/>
        </div>
        <table>
            <tr th:each="component:${componentList}">
                <td th:text="${component.name}"></td>
            </tr>
        </table>
        <input type="number" name="total-price"/>
    </form>
</article>
</body>
</html>