<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head :: head">
    <meta charset="UTF-8"/>
    <title>Inwestorzy</title>
</head>
<body>
<header th:replace="layout/header :: header"></header>
<nav th:replace="layout/menu :: menu"></nav>
<article class="main-art" id="main-article">
    <h4>Inwestorzy</h4>
    <table>
        <tr class="row">
            <th>id</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Nazwa</th>
            <th>Miasto</th>
            <th>Ulica</th>
            <th>Nr</th>
            <th>Nr lokalu</th>
            <th>Kod</th>
            <th>email</th>
            <th>nip</th>
            <th>usuwanie</th>
        </tr>
        <form action="/investor/showAll" id="name-form">
            <tr class="row">
                <th>Filtruj:</th>
                <th></th>

                <th>
                    <input
                            class="std-input"
                            name="investorLastNameFirstLetters"
                            th:value="${investorLastNameFirstLetters}"
                            id="filter-by-lastname"/>
                </th>
                <th>
                    <input
                            name="nameFirstLetter"
                            class="std-input"
                            th:value="${nameFirstLetter}"
                            id="filter-by-name"/>

                </th>
                <th>
                    <input
                            class="std-input"
                            name="investorCityFirstLetters"
                            th:value="${investorCityFirstLetters}"
                            id="filter-by-city"/></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </form>
        <tr th:each="investors, stat:${investorList}" class="table-row"
            th:class="${stat.odd} ? 'row odd-row' : 'row even-row'">
            <td th:text="${investors.id}"></td>
            <td th:text="${investors.firstName}"></td>
            <td th:text="${investors.lastName}"></td>
            <td th:text="${investors.name}"></td>
            <td th:text="${investors.city}"></td>
            <td th:text="${investors.street}"></td>
            <td th:text="${investors.posesionNumber}"></td>
            <td th:text="${investors.localNumber}"></td>
            <td th:text="${investors.zipcode}"></td>
            <td th:text="${investors.email}"></td>
            <td th:text="${investors.nip}"></td>
            <td>
                <form th:action="@{'/investor/deleteInvestor'}" method="post">
                    <button class="std-btn" name="investorId" th:value="${investors.id}">usun</button>
                </form>
            </td>
        </tr>
    </table>
</article>
<footer th:replace="layout/footer :: footer"></footer>
<script src="/scripts/filterByString.js"></script>
<script src="/scripts/jquery-3.3.1.js"></script>
</body>
</html>