<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form th:action="@{'/offers/addComponentToOffer'}" method="post">
    <table>
        <tr th:each="component:${componentList}">
            <td th:text="${component.name}"></td>
            <td th:text="${component.id}"></td>
            <td th:text="${component.description}"></td>
            <td></td>


        </tr>
    </table>
    <input type="submit" value="Dodaj"/>
</form>
</body>
</html>