<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Inwestorzy</title>
</head>
<body>
<a th:href="@{'/'}" class="std-href">Strona główna</a>

<table>
    <tr th:each="investors:${investorList}">
        <td th:text="${investors.id}"></td>
        <td th:text="${investors.firstName}"></td>
        <td th:text="${investors.lastName}"></td>
        <td th:text="${investors.name}"></td>
        <td th:text="${investors.city}"></td>
        <td th:text="${investors.street}"></td>
        <td th:text="${investors.posesionNumber}"></td>
        <td th:text="${investors.localNumber}"></td>
        <td th:text="${investors.zipcode}"></td>
        <td th:text="${investors.email}"></td>
    </tr>
</table>
</body>
</html>