<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<header th:replace="layout/header :: header"></header>
<nav th:replace="layout/menu :: menu"></nav>
<article class="main-art" id="main-article">
    <h3 th:text="${template.templateName}">Nazwa szablonu</h3>
    <table>
        <tr class="row">
            <th>id:</th>
            <th>nazwa:</th>
            <th>opis:</th>
        </tr>
        <tr th:each="component, stat:${wrapper}" th:class="${stat.odd}? 'row odd-row' : 'row even-row'"
            th:object="${wrapper}">
            <td th:text="${component.id}"></td>
            <td th:text="${component.name}"></td>
            <td th:text="${component.description}"></td>
        </tr>
    </table>
    <p th:if="${message.get(0) == 'Zapis poprawny'}"><input type="submit" value="Dodaj"/></p>
    <p th:if="${message.get(0) != 'Zapis poprawny'}"><a th:href="@{/templates/addTemplate}">Powrót</a></p>

    <h4 class="info-red" th:each="message:${message}">
        <p th:text="${message}"></p>
    </h4>
</article>
</body>
</html>