<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form th:action="@{'/offers/addComponentToOffer'}" method="post" th:object="${componentPrices}">
    <table>
        <tr th:each="component:${componentList}">
            <td th:text="${component.name}"></td>
            <td>Cena jednostkowa: <input type="number" th:field="*{componentPrice}"/></td>
            <td>Ilość: <input type="number" th:field="*{quantity}"/> </td>

            <td></td>


        </tr>
    </table>
    <input type="submit" value="Dodaj"/>
</form>
</body>
</html>