<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>

</head>
<body>

<nav th:replace="layout/menu :: menu"></nav>
<article class="main-art" id="main-article">
    <h4 th:if="${templatesList.isEmpty()}">Brak szablonów</h4>
    <table th:unless="${templatesList.isEmpty()}">

        <tr>
            <th>Nazwa szablonu:</th>
        </tr>
        <tr th:each="template:${templatesList}">
            <td th:text="${template.templateName}"></td>
        </tr>
    </table>

    <div th:each="template:${templatesList}">
        <h3 th:text="${template.templateName}"></h3>
        <p th:each="components:${template.getComponentList()}" th:text="${components.name}"></p>
    </div>
</article>
</body>
</html>