*{
    margin: 0px;
}
body{
    font-family: Arial, sans-serif;
    font-size: 0.8em;
}
.std-input{
    border: #0ea69a solid 1px;
    background-color: #cffff4;
    border-radius: 7px;
    height: 20px;
}
.basic-lbl{
    font-family: Arial, sans-serif;
    font-size: 0.8em;
}
.std-btn{
    background-color: #cffff4 ;
    border: 1px #0d958a solid;
    border-radius: 7px;
    height: 20px;
}
.input-box{
    background-color: #eaeaea;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
.std-href{
    font-family: Arial, sans-serif;
    text-decoration: none;
}
.row{
    height: 35px;
}
.row td{
    width: auto;
    padding: 10px;
}
.row th{
    width: auto;
    padding: 10px;
    background-color: rgb(14, 166, 154);
    color: white;
    font-weight: normal;
}
.odd-row{
    background-color: #61e6d2;
}
.even-row{
    background-color: #2dd4da;
}
.main-menu{
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cell-menu{
    width: auto;
    float: left;
    color: white;
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 2px;
    background-color: #0ea69a;
    border-radius: 10px;
}
.cell-menu:hover{
    background-color: #add7e8;
}
.main-art{
    clear: both;
}
#ul-main-menu::after{
    clear: both; !important;
}
.info-red{
    color: #cd0000;
}

.footer-logo{
    width: 250px;
    height: auto;
}
.template-component{
    width: 350px;
    height: auto;
    background-color: #eeeeee;
    border-radius: 15px;
    border: 1px  #2dd4da solid;
    margin: 10px;
    padding: 10px;
}
.home-img{
    height: 10px;
    width: auto;
}