@font-face {
    font-family: Roboto;
    src: url("fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: Lato;
    src: url("fonts/Lato-Regular.ttf");
}

*{
    margin: 0px;
}

:root{
    --width-: 1300px;
    --background-color: #0ea69a;
    --inputs-background-color: #cffff46e;
    --border-color: #0ea69a;
}
body{
    font-family: Roboto, sans-serif;
    font-size: 0.8em;
}
.std-input{
    border: var(--border-color) solid 1px;
    background-color: var(--inputs-background-color);
    border-radius: 7px;
    padding: 3px;
    height: 17px;
}
.basic-lbl{
    font-family: Roboto, sans-serif;
    font-size: 0.8em;
}
.std-btn{
    background-color: var(--inputs-background-color) ;
    border: 1px var(--border-color) solid;
    border-radius: 7px;
    height: 25px;
}
.input-box{
    border: 1px solid var(--border-color);
    width: max-content;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
.std-href{
    color: inherit;
    text-decoration: none;
}
.row{
    height: 35px;
    border: var(--border-color) 1px solid;
}
.row td{
    width: auto;
    padding: 10px;
}
.row th{
    width: auto;
    padding: 10px;
    background-color: rgb(14, 166, 154);
    color: white;
    font-weight: normal;
}
.odd-row{
    background-color: var(--inputs-background-color);
}
.even-row{
    background-color: #2dd4da4d;
}
.main-menu{
    width: var(--width-);
    margin: 10px auto;
}
.cell-menu{
    font-family: Roboto, sans-serif;
    width: auto;
    float: left;
    color: white;
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 2px 2px 20px;
    background-color: #0ea69a;
    border-radius: 10px;
}
.cell-menu:hover{
    background-color: #add7e8;
}
.main-art{
    clear: both;
    width: var(--width-);
    margin-left: auto;
    margin-right: auto;
}
#ul-main-menu::after{
    clear: both; !important;
}
.info-red{
    color: #cd0000;
}

.footer-logo{
    width: 250px;
    height: auto;
}

.template-component{
    width: 350px;
    height: auto;
    background-color: #eeeeee;
    border-radius: 15px;
    border: 1px  #2dd4da solid;
    margin: 10px;
    padding: 10px;
}
.home-img{
    height: 10px;
    width: auto;
}
.header{
    display: block;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.header img{
    margin-top: 15px;
    width: 250px;
    height: auto;
}
.footer{
    width: var(--width-);
    height: 100px;
    border-radius: 20px;
    background-color: #0d958a;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.letter-btn{
    background-color: #cffff4 ;
    border: 1px #0d958a solid;
    border-radius: 7px;
    width: 30px;
    margin-right: 10px;
    height: 20px;
    text-transform: uppercase;
}
.filterby-letter-box{
    text-align: left;
    margin: 10px auto 13px;
}
.investor-offer{
    list-style: none;
}
.final-offer-header{
    text-align: center;
}